@charset "UTF-8";

body{
	line-height: 1.5;
}

.clearfix::after{
	content: "";
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

header{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid #efefef;
}

header h1{
	text-align: center;
	line-height: 100px;
}

section{
	background-color: #efefef;
	border-radius: 5px;
	padding: 0 10px 10px;
}

section + section{
	margin-top: 20px;
}

section > h2{
	padding-top: 10px;
}

section > h2 span{
	font-size: 12px;
	padding: 5px;
	color: #fff;
	vertical-align: middle;
}

section > h2 span.local{
	background-color: rgb(238, 80, 146);
}

section > h2 span.ssh{
	background-color: rgb(61, 125, 222);
}

aside > .col-md-2{
	margin-top: 20px;
}

aside ul li{
	margin-bottom: 1.5em;
}

footer{
	width: 100%;
	height: 80px;
	border-top: 1px solid #efefef;
	margin-top: 20px;
}

footer p{
	text-align: center;
	line-height: 80px;
}

@media screen and (max-width: 991px) {
	div.col-md-2 ul li{


	}

}

@media screen and (max-width: 991px) {
	div.col-md-2 ul li{
		float: left;
		width: 47.88888%;
		margin-right: 20px;
	}

	div.col-md-2 ul li:nth-child(2n + 0){
		margin-right: 0;
	}
}

@media screen and (max-width: 518px) {
	div.col-md-2{
		display: none;
	}
}